body {
    /* background-image: linear-gradient(to right, rgb(196, 0, 153) , rgb(38, 0, 255)); */
    background-color: rgb(27, 27, 27);
    background-size: auto;
    min-height: 100vh;
    overflow: hidden;
}
.margin{
    margin-top: 0.5%;
}

