h1, h2, h3, p{
    text-shadow: 5px 5px 10px #000000;
  }

  @media screen and (max-width: 1024px) {
    .hideImage {
        display: none !important;
    }
}
.blur {
  backdrop-filter: blur(10px);
  background: rgba(0, 0, 0, 0.37); 
}