<div *ngIf="this.album">
    <div class="uk-background-cover uk-light"
        style="background-image: url({{album.pictureURL}});">
        <div class="blur">
            <div class="center">
                <div class="uk-child-width-1-2@l  uk-child-width-1-2@m uk-child-width-1-1@s" uk-grid>
                        <img *ngIf="!this.isSmallScreen"class ="hideImage uk-flex-left" src={{album.pictureURL}}>
                        <div class="margin uk-grid-row-collapse uk-child-width-1-1 uk-width-expand" uk-grid>
                            <h1>{{album.title}}</h1>
                            <h2>{{album.artistName}}</h2>
                            <h3>{{album.releaseYear}}</h3>
                            <p>{{album.version}}</p>
                            <p>utwory: {{tracksAmount}}</p>
                        </div>
                    </div>
            </div>
        </div>
    </div>
    <app-track-list [tracks]="this.album.tracks"></app-track-list>
</div>