.wrapper {
    max-width: 800px;
    margin: 0 auto;
    display: grid;
    width: 100%; /* Set full-width to expand the whole page */
    grid-template-columns: 10% 30% 30% 15% 15%;
    
  }
  .element{
    height: 100%;

  }
  .first{
    grid-column: 1;
    
  }
  .second {
    grid-column: 2;
  }
  .third {
    grid-column: 3;
  }
  .fourth {
    grid-column: 4;
  }
  .fifth {
    grid-column: 5;
    text-align: right;
  }
  .border-line{
    border: 1px solid rgba(255, 255, 255, 0.445);
    max-width: 800px;
    margin: 0 auto;
  }
  
h1, h2, h3, p{
    text-shadow: 5px 5px 10px #000000;
    color: aliceblue;
  }