@font-face {
    font-family: "ValeraRound";
    src: local("ValeraRound"),  url(../../assets/fonts/VarelaRound-Regular.ttf) format("truetype");
}
.headerFont {
    font-family: "ValeraRound", Arial, Helvetica, sans-serif;
    font-size: 20px;
  }
  
.header{
    background-color: rgb(27, 27, 27);
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}
.align-right{
    text-align: right;
    margin-left: -3.5%;
    margin-top: 0.5%;
}
.header-logo-margin{
    margin-top:1%;
}

